<!DOCTYPE html>
<html ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/main.css" />
        <script type="text/javascript" src="assets/angular.min.js"></script>
        <script type="text/javascript" src="assets/primary.js"></script>
    </head>
    <body ng-controller="StoreController as store">
    <div style="text-align:center;">
        <h1>Flatlander Crafted Gems</h1>
        <h3>-an Angular store-</h3>
    </div>
        <div class="primary" ng-controller="StoreController as store">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="product in store.products">
                <h3>
                    <product-title></product-title>
                    <br/>
                    <img ng-src="{{product.images[0].full}}"/>

                    <section ng-controller="PanelController as panel">
                        <tabs-block></tabs-block>

                        <div class="panel" ng-show="panel.isSelected(1)">
                            <h4>Description</h4>
                            <p>{{product.description}}</p>
                        </div>

                        <div class="panel" ng-show="panel.isSelected(2)">
                            <h4>Specifications</h4>
                            <blockquote>None yet</blockquote>
                        </div>

                        <div class="panel" ng-show="panel.isSelected(3)">
                            <h4>Reviews</h4>
                            <blockquote ng-repeat="review in product.reviews">
                                <b>Stars: {{review.stars}}</b>
                                {{review.body}}
                                <cite>by: {{review.author}}</cite>
                            </blockquote>

                            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                                <review-block></review-block>
                                <select ng-model="reviewCtrl.review.stars" required>
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="5">5 Stars</option>
                                </select>
                                <br/>
                                <textarea ng-model="reviewCtrl.review.body" required></textarea>
                                <br/>
                                <label>by:</label>
                                <input type="email" ng-model="reviewCtrl.review.author" placeholder="your email" required></input>
                                <input type="submit" value="Submit"/>
                            </form>

                        </div>
                    </section>
                </h3>
            </ul>
        </div>

    </body>
</html>
