a {
  color: #A1005E; }

a:focus,
a:active,
a:hover,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #A1005E;
  color: #fff; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ccc; }

div.primary {
  width: 50%;
  margin: 0 auto; }
